# Flutter/Dart related
.dart_tool/
.packages
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter/
.idea/
*.iml
pubspec.lock
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

# Other
.DS_Store
*.log
*.lock
